.Product {
    background-color: white;
    max-height: 400px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.Product-info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Product-price {
    font-weight: 500;
    margin-top: 3px;
}

.Product button {
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    cursor: pointer;
    border-radius: 2px;
    border: 2px solid #a88734;
    width: 100px;
    height: 29px;
}

.Product img {
    object-fit: contain;
    max-height: 200px;
    min-width: 100px;
}

.Product-rating {
    display: flex;
}
